<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
    printerClass="Codedungeon\PHPUnitPrettyResultPrinter\Printer"
>
    <logging>
        <testdoxHtml outputFile="tests/log/testdox.html"/>
        <testdoxText outputFile="tests/log/testdox.txt"/>
        <testdoxXml outputFile="tests/log/testdox.xml"/>
    </logging>
</phpunit>